{% extends 'base.html'%}
<html>
  <head>
    <meta charset="UTF-8">

  </head>
  <body>
    <!-- Content block -->
    {% block content %}
    <div class="container">
    {% for article in articles %}
      <div class="col-md-4">
          <img src="{{article.image}}" alt="" class="img-responsive" alt="article image">
          <h4>{{article.title}}</h4>
          <p>{{article.author}}</p>
          <p>{{article.description}}</p>
          <p>Published on: {{article.publishedAt}}</p>
          <a href="{{article.url}}" class="card-link">Read Article</a>
      </div>
    {% endfor %} 
    </div>
    {% endblock %}
  </body>
</html>
