{% extends 'base.html'%}
<html>
  <head>
    <meta charset="UTF-8">

  </head>
  <body>
    <!-- Content block -->
    {% block content %}
    <div class="container">
    {% for articles_item in articles %}
      <div class="col-md-4">
          <img src="{{articles_item.image}}" alt="" class="img-responsive" alt="article image">
          <h4 class="card-text">{{articles_item.title}}</h4>
          <p>Published on: {{articles_item.publishedAt}}</p>
          <a href="{{articles_item.url}}" class="card-link">Read Article</a>
      </div>
    {% endfor %} 
    </div>
    {% endblock %}
  </body>
</html>
