{% extends 'base.html'%}
<!-- {% import 'macro.html' as macro %}  -->
  
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/articles.css')}}" type="text/css">
{% endblock %}  

<!-- Content block -->
{% block content %}
  <div class="container">
    <h3 class="text-center" style="font-size:40px; margin-top: 40px;color: #1DB954;">Top Articles</h3><hr style="color:#191414"/>
      {% for article_item in articles%}
        <div class="col-md-4">
          <div class="card mt-5 shadow bg-white rounded mb-5">
            <a href="{{article_item.url}}">
              <img  src="{{article_item.publishedAt}}"  alt="article-img" class="card-img-top">
            </a>
            <div class="card-body">
              <h4 class="card-title" style="color: #1DB954;">{{ article_item.title }}</h4>
              <hr>
              <p style="color:#191414">By: {{article_item.author}}</p>
              <p style="color:#191414">Published on: {{article_item.urlToImage}}</p>
              <div id="content-details">
                <p style="color:#191414">{{article_item.content}}</p>
                <p>
                  <a href="{{article_item.url}}" style="color: #1DB954;">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div> 
      {% endfor %}  
  </div>
  <footer > 
    <div class="footer sticky-bottom" style="background-color:#191414; padding: 10px;">
      <div class="container">
          <div class="footer-contact" style="color: white;">
            <h5 style="font-size: 16px;">NewsBits</h5>
            <hr style="color: #1DB954;">
            <i class="bi-footer bi-telephone-fill" style="font-size: 15px; color: #1DB954; margin-right: 10px;"></i>
            <span style="font-size: 11px;">+254712345678<span>
            <br>
            <i class="bi-footer bi-envelope-fill" style="font-size: 15px; color: #1DB954; margin-right: 10px;"></i>
            <span style="font-size: 11px;"">haki@info.co.ke</span>
            <br>
            <i class="bi-footer bi-geo-alt" style="font-size: 15px; color: #1DB954; margin-right: 10px;"></i>
            <span style="font-size: 11px;">Ngong Lane, Nairobi.</span>
            <div class="social-media mt-2" style="display: flex; column-gap: 10px;">
            <i class="bi bi-twitter" style="font-size: 15px; color: #1DB954;"></i>
            <i class="bi bi-facebook" style="font-size: 15px; color: #1DB954;"></i>
            <i class="bi bi-linkedin " style="font-size: 15px; color: #1DB954;"></i>
          </div>
          <div class="copy text-center">
            &copy; NewsBits 2021. All Rights Reserved.
          </div>
          </div>
          
        </div>
      </div>
    </div>
  </footer> 
{% endblock %}  
  </body>
</html>


