{% extends 'base.html'%}
{% import 'macro.html' as macro %} 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- {% if title %}
  <title> {{ title }}</title>
  {% else %}
  <title> NewsBits </title>
  {% endif %} -->
  <!-- Styles block -->
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->
</head>
<body>
  {% block content %}
<!-- General sources section -->
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="text-center">Article Sources</h3>
        <ul>
          {{ macro.displayArticleSourceList(general)}}
        </ul> 
      </div>
    </div>
  </div>
    
<!-- Sport sources section -->
  <!-- <h3 class="text-center"> Sports</h3>
    <ul>
        {{ macro.displayArticleSourceList(sports)}}
        </ul> -->
<!-- Business sources section -->

  <!-- <h3 class="text-center"> Business</h3>
    <ul>
      {{ macro.displayArticleSourceList(business)}}
        </ul>  -->
    <!-- Technology sources section -->
  <!-- <h3 class="text-center"> Technology</h3>
    <ul>
      {{ macro.displayArticleSourceList(technology)}}
    </ul> -->
 <!-- Entertainment sources section -->
   <!-- <h3 class="text-center">Entertainment</h3>
    <ul>
      {{ macro.displayArticleSourceList(entertainment)}}
    </ul> -->
  {% endblock%}
</body>
</html>