{% import 'macro.html' as macro %} 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% if title %}
  <title> {{ title }}</title>
  {% else %}
  <title> NewsBits </title>
  {% endif %}
</head>
<body>
  <!-- Sport sources section -->
  <!-- <h3> Sports</h3>
    <ul>
        {{ macro.displayArticleSourceList(sports)}}
        </ul> -->
    <!-- Business sources section -->
  <!-- <h3> Business</h3>
    <ul>
      {{ macro.displayArticleSourceList(business)}}
        </ul> -->
    <!-- Technology sources section -->
  <!-- <h3> Technology</h3>
    <ul>
      {{ macro.displayArticleSourceList(technology)}}
    </ul> -->
    <!-- General sources section -->
  <h3>Article Sources</h3>
    <ul>
      {{ macro.displayArticleSourceList(general)}}
    </ul> 
     <!-- Entertainment sources section
  <h3>Entertainment</h3>
    <ul>
      {{ macro.displayArticleSourceList(entertainment)}}
    </ul> -->
</body>
</html>