{% macro displayArticleSourceList(source_list) %}
  {% for source in source_list %}
  <div class="col-md-4">
      <h3><a href="{{source.url}}">{{source.name}}</a></h3>
      <p>{{source.description}}</p>
      <span>{{source.category}}</span>
      <p><a href="/articles/{{source.id}}" class="card-link">View Top Articles</a></p><br>
  </div>
  {% endfor %} 
{% endmacro %}

<!-- {% macro displayAricles(articles_list) %} 
{% for article in articles_list %}
<div class="col-md-4">
  <div class="card">
    <img src="{{article.url}}" alt="" class="img-responsive" alt="article image">
  <div class="card-body">
    <h4 class="card-text">{{artilce.title}}</h4>
    <p>Published on: {{article.publishedAt}}</p>
    <a href="{{article.url}}" class="card-link">Read Article</a>
  </div>
  </div>
</div>
{% endfor %} 
{% endmacro %}  -->

