{% macro displayArticleSourceList(category) %}
  {% for general_sources in category %}
  <!-- <div class="row"> -->
  <div class="col-md-4">
      <h3><a href="{{general_sources.url}}">{{general_sources.name}}</a></h3>
      <p>{{general_sources.description}}</p>
      <span>{{general_sources.category}}</span>
      <p><a href="/articles/{{general_sources.id}}" class="card-link">View Top Articles</a></p><br>
  </div>
  <!-- </div> -->
  {% endfor %} 
{% endmacro %}

<!-- {% macro displayAricles(articles_list) %} 
{% for article in articles_list %}
<div class="col-md-4">
  <div class="card">
    <img src="{{article.url}}" alt="" class="img-responsive" alt="article image">
  <div class="card-body">
    <h4 class="card-text">{{artilce.title}}</h4>
    <p>Published on: {{article.publishedAt}}</p>
    <a href="{{article.url}}" class="card-link">Read Article</a>
  </div>
  </div>
</div>
{% endfor %} 
{% endmacro %}  -->

