<header class="p-3 bg-dark text-white sticky-top navbar-fluid" style="background-color: #191414;">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start ">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"></a>
      <img src="{{url_for('static', filename='/img/news_logo.png')}}" alt="site logo" class="logo" id="logo" style="height: 110px; width: 110px; padding: 0;">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
        </ul>
    </div>
  </div>
</header>